body {
    max-width: 450px;
    width: 100%;
    margin: auto;
    height: 100vh;
    background-image: url(../images/HomeBackground.png);
    background-repeat:no-repeat ;
    background-position: center;
}

html {
    background-image: linear-gradient(#2E335A, #1C1B33);

}
